// ItemCardPage.scss

.item-card-page {
    padding: 20px;

    h1 {
        text-align: center;
        font-size: 46px;
    }

    .item-form {
        margin-bottom: 20px;
        text-align: center;

        h2 {
            margin-bottom: 10px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input {
                padding: 5px;
                font-size: 16px;
            }

            button {
                padding: 5px 10px;
                background-color: #007bff;
                color: #fff;
                border: none;
                cursor: pointer;
            }

            button:hover {
                background-color: #0056b3;
            }
        }
    }

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    .item-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;

        img {
            width: 100%;
            border-radius: 5px;
        }

        .item-details {
            margin-top: 10px;

            h3 {
                margin-bottom: 5px;
            }

            p {
                margin-bottom: 5px;
                font-size: 14px;
            }
        }

        button {
            width: 100%;
            padding: 5px;
            background-color: #0c5c3f;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #caf0de;
            color: #0c5c3f;
        }
    }
}



.item-card-page .item-list {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 27px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.item-card-page .item-card .item-details h3 {
    margin-bottom: 5px;
    color: #0c5c3f;
    font-weight: 600;
}

.item-card-page .item-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    height: 215px;
}

.item-card-page .item-form {
    /* margin-bottom: 20px; */
    text-align: center;
    width: 85%;
    padding: 2rem;
    background-color: #d3ffee;
}

.item-card-page .item-form form button {
    padding: 5px 10px;
    background-color: #34906e;
    color: #fff;
    border: none;
    cursor: pointer;
}