.mainPage {
    height: calc(100% - 10vh);
    background-color: white;
    width: 100%;
    box-shadow: inset rgba(0, 0, 0, 0.16) 0px 0px 8px 5px, inset rgba(0, 0, 0, 0.23) 10px 11px 18px 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.TopMain {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.DashCard {
    padding: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    background: hsla(158, 48%, 45%, 1);

    background: linear-gradient(180deg, hsla(158, 48%, 45%, 1) 0%, hsla(158, 87%, 34%, 1) 56%, hsla(158, 74%, 16%, 1) 99%);

    background: -moz-linear-gradient(180deg, hsla(158, 48%, 45%, 1) 0%, hsla(158, 87%, 34%, 1) 56%, hsla(158, 74%, 16%, 1) 99%);

    background: -webkit-linear-gradient(180deg, hsla(158, 48%, 45%, 1) 0%, hsla(158, 87%, 34%, 1) 56%, hsla(158, 74%, 16%, 1) 99%);




    border-radius: 1rem;

    margin-right: 1rem;
    width: 30%;
}

.HeaderCard {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: black;
    font-weight: 500;
}

.ContentCard {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;

    p {
        margin: 14px 8px 6px 0px;
        line-height: 1.334em;
        font-family: Roboto, sans-serif;
        font-size: 2.125rem;
        font-weight: 500;
    }

    .icon2 {
        user-select: none;
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentcolor;
        flex-shrink: 0;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-size: inherit;
        transform: rotate3d(1, 1, 1, 45deg);
    }
}


.BottomCard p {
    margin: 0px;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    color: rgb(179, 157, 219);
    font-size: 1rem;
    font-weight: 500;
}


.MiddleMain {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3.5rem 0 3rem;
    height: 70%;
}