@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.Services {
    display: flex;
    background-color: white;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin-top: 2rem;

    h1 {
        color: #25634Cff;
        font-size: 2.5rem;
        margin: 0;
    }
}

.product-page {
    background-color: white;
}

.Line {
    background-color: rgb(101, 154, 134);
    height: 2.5px;
    /* width: 43%; */
    margin: 1rem 0;
    border-radius: 5rem;
}

.flexR {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.section2 .H1 {
    margin-top: 1rem;

}