.section3 {
    font-family: 'Anton', sans-serif;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;

}

.Main3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #d8f5e1;
    border-radius: 5rem;
}

.Right {
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;


}

.Right .Img {
    display: flex;
    background-position: center;
    background-size: cover;
    background-image: url('../../assets/home3.png');
    width: 70%;
    height: 425px;
    border-bottom-right-radius: 5rem;
    /* width: 50%; */
    /* height: 100%; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.Left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}

.hh {
    font-size: 54px;
    text-align: left;
    color: #25634c;
}

.pp {
    font-size: 20px;
    text-align: left;
    max-width: 24em;
    margin-bottom: 1em;
}

.btn {
    float: right;
    padding: 7px 35px;
    /* border-radius: 15px; */
    /* display: inline-block; */
    background-color: #062d1f;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    transition: all 300ms ease;
}

.btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
        0 1px 1px 0 rgba(0, 0, 0, 0.09);
    background-color: #0a402d6e;

}

// Mobile styles
@media screen and (max-width: 767px) {
    .section3 {
        padding: 0;
    }

    .Main3 {
        width: 85%;
        padding: 0.5rem;
        align-items: center;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        border-radius: 2rem;
        border: solid;
        border: solid 1px #25634c;
        padding-bottom: 0;
    }

    .Left {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: flex-start;
        padding: 3rem;
        // border-radius: 2rem;
        // border: solid
        padding-bottom: 1rem;
    }

    .Right {
        width: 102.5%;
    }

    .hh {
        font-size: 35px;
        text-align: center;
        color: #25634c;
        margin-bottom: .5rem;
    }

    .Right .Img {
        display: flex;
        background-position: center;
        background-size: cover;
        background-image: url('../../assets/A7.png');
        width: 100%;
        border-bottom-right-radius: 0;
        /* width: 50%; */
        /* height: 100%; */
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: 300px;
        border-radius: 0 0 2rem 2rem;
    }

}