.section9 {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    background-color: whitesmoke;
}

.title {
    padding: 1rem;
    z-index: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: whitesmoke;
    color: #25634c;

    h1 {
    
        font-family: 'Exo 2', sans-serif;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: normal;
        text-align: center;
        color: #25634c;

        font-family: "Jost", Sans-serif;
        font-family: "Exo 2", sans-serif;


    }


}

.rtrt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    height: 100%;
}

.main {
    // margin-top: 8rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;

    // margin-top: 2rem;
    // background-image: linear-gradient( whitesmoke, #3b0f55);
    background-color: whitesmoke;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;



}

.rtrt .card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 0 1px 0 20px;
    background-color: white;

    .icon {
        width: 39%;
        margin: 0S;
        height: 10rem;
        color: #25634c;

    }



    span {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: rgb(122, 122, 122);
        text-align: center;
    }


}

.bigcolor {
    height: 1rem;
    background-color: #3b0f55;
}

.line {
    height: 1.5px;
    background-color: #3b0f55;
    margin-top: .75rem;
    margin-bottom: 2rem;
}

.rtrt .card p {
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: normal;
    color: #25634c;
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}


// Mobile styles
@media screen and (max-width: 767px) {
    
    .title h1 {
        width: 85%;
    }
    .rtrt{
        flex-direction: column;
    }
    .rtrt .card {
        width: 100%;
        margin-bottom: 2rem;
    }

}
