.footer {
    background-color: #25634c;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    .aboveDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        background-color: rgb(185 178 190 / 65%);
        width: 75%;
        margin-top: -5rem;

        .part {
            height: 30vh;
            width: 30vh;
            background-color: #3b0f5563;
        }

    }
}

.MainInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

}

.colu {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;

    span {
        color: white;
        margin: .25rem;
        border-radius: .25rem;
        padding: .25rem;
    }

    a,
    .a {
        text-decoration: none;
        border: solid 1px white;
        margin: .25rem;
        border-radius: .25rem;
        padding: .25rem;
    }


}
.colu a:hover{
    background-color: white;
    color: #25634c;
    transition: .5s;
}
.colu span:hover{

    color: #25634c;
    transition: .5s;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.ImageBoard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.ImgF {
    height: 20vh;
    width: 20vh;
    background-color: rgb(10, 25, 30);
}

.leftFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}


.leftFooter2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}


.ImgFooter {
    // background-image: url("../../assets/");
    background-position: center;
    background-size: cover;
    width: 70px;
    height: 70px;
}

.bottomDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 0.5rem;
    padding-top: 0.75rem;
}

.title1 {


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;

}

.line {
    height: 0.7px;
    background-color: white;
    margin: 0;
    padding: 0;
}

.coll {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    .I33 {
        height: 6em;
    }

    h4 {

        font-size: 1.5rem;
        color: white;
        font-weight: 600;

    }
}

.coluIcon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

    .I22 {
        font-size: 1.25rem;
        color: white;
        margin: .25rem;

    }

    h5 {
        color: white;
        margin: .25rem;

    }
}

.RightMain {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
}

.MiddleQr {
    img {
        height: 100px;
    }
}


.rightBottom {
    span {
        font-size: .9rem;
        font-weight: 500;
        border: solid 2px white;
        padding: 0.5rem;
        color: white;
        border-radius: 0.5rem;
    }
}

.bottomDiv {
    P {
        color: whitesmoke;
    }
}

// Mobile styles
@media screen and (max-width: 767px) {
    .MainInfo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
    }

    .leftMain,
    .MiddleQr {
        width: 25%;
    }

    .title1,
    .coll,
    .coll .I33 {

        width: 100%;
        height: 100%;

    }

    .RightMain {
        width: 58%;
        height: auto;
    }

    .MiddleQr img {
        height: 7rem;
    }

    .colu {
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        color: white;
        display: none;
        width: 100%;
    }

    .colu span {
        border: solid 1px white;
        margin: 0.25rem;
        border-radius: 0.25rem;
        padding: 0.25rem;
        width: 60%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .coluIcon {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        width: 84%;
        margin-top: 1rem;
    }

    .coluIcon .I22 {
        font-size: 2rem;
    }

    .bottomDiv {
        flex-direction: column;
    }
}