.search {
    width: 100%;
    border: none;
    height: 1rem;
    border-radius: 1rem;
    background-color: #3caa81;
    color: white;


}

.search::placeholder {
    color: white;
}

.search:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    button {
        margin-left: -5rem;
        border: none;
        color: #3caa81;
        background-color: white;
        padding: .2rem;
        border-radius: .5rem;
    }
}