.Restform {
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #282a36;
    height: 100vh;
    color: #fff;
    align-content: center;
    flex-wrap: nowrap;
}

.btn {
    margin-top: 1rem;
}

.btn:hover {
    background-color: whitesmoke;
    color: #21232d;
}
h2{
    margin-bottom: 1rem;
}