.mainForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.containerForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon {

    font-size: 7rem;
    margin-bottom: 2rem;
    color: #25634c;

}

h2 {
    font-weight: 600;
    margin-bottom: .25rem;

}

.pr {
    font-size: 13px;
    margin-bottom: 1rem;
}

.formo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    border-radius: 3rem;
    border: solid 2px #25634c;
    background: #25634c;
}

.panel-body  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.backInput {
    background-color: white;
}