#NavBar {
    background-image: linear-gradient(180deg, #3caa81 10%, #25634c 100%);
    background-size: cover;
    margin-top: 0;
    width: 300px;
    color: rgb(54, 65, 82);
    border-right: none;
    height: calc(-88px + 100vh);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;

}

#NavBar::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar */
}



#NavBar.mini {
    h1 {
        font-size: 3rem;
    }

    width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;


    .companentUl {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .nav-item-mini {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 1rem;


        .FontAwsame-mini {
            font-size: 2.25rem;
            font-weight: 400;
            line-height: 1.334em;
            font-family: Roboto, sans-serif;
            fill: none;
            stroke: currentcolor;
            stroke-width: 1.5;
            stroke-linecap: round;
            stroke-linejoin: round;
            margin-right: .5rem;
        }

    }

    .btn-mini {
        /* width: 80%; */
        width: 100%;
        padding: .5rem;
        border: none;
        border-radius: .5rem;
        background-color: gainsboro;
    }

}

.NavIcon {
    height: 4rem;

}

.FontAwsame {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.334em;
    font-family: Roboto, sans-serif;
    width: 1.3rem;
    height: 1.3rem;
    fill: none;
    stroke: currentcolor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin-right: .5rem;
}



ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

#NavBar .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1;
}

#NavBar hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, .15);
}

#NavBar hr.sidebar-divider {
    margin: 0 1rem 1rem;
    width: 90%;
}

.mb-0,
.my-0 {
    margin-bottom: 1rem !important;
}

.mt-0,
.my-0 {
    margin-top: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

hr {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

#NavBar .nav-item {
    position: relative;
}

#NavBar .companentUl .nav-item {
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0px 4px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    position: relative;
    text-decoration: none;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 10px 16px 10px 24px;
    color: rgb(54, 65, 82);
    align-items: flex-start;
    background-color: inherit;
    color: rgba(255, 255, 255, .8);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    width: 220px;
    border-radius: 12px;
    padding: 10px 16px 10px 24px;

}


#NavBar .nav-item .nav-link {
    color: rgba(255, 255, 255, .8);
}

#NavBar .sidebar-heading {
    color: rgba(255, 255, 255, .4);
}

#NavBar .sidebar-heading {
    text-align: left;
    font-family: Roboto, sans-serif;
    line-height: 1.66;
    display: block;
    color: rgb(18, 25, 38);
    font-size: 0.875rem;
    font-weight: 500;
    padding: 6px;
    text-transform: capitalize;
}

.companentUl {
    list-style: none;
    margin: 0px;
    padding: 0px 0px 8px;
    position: relative;
    margin: 0 1rem;


}

#NavBar .companentUl .nav-item:hover {
    background-color: black;

}

#NavBar .nav-item .collapse .collapse-inner,
#NavBar .nav-item .collapsing .collapse-inner {
    padding: .5rem 0;
    min-width: 10rem;
    font-size: .85rem;
    margin: 0 0 1rem 0;
}


.Counter {


    font-weight: 600;
    color: #fff;
    background-color: #fa5252;
    border-radius: 5rem;
    padding: 0.25rem 0.4rem;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 2.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;


}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.Btn_Nav {
    background-color: #062d1f;
    width: 220px;
    border-radius: 12px;
    padding: 10px 16px 10px 24px;
    margin-left: 0;
    border: 0;
    color: white;

}
.NavBar1 {
    display: flex;
    background-color: #25634c;
    height: auto;
    margin: 0;
    padding: .6rem 1rem;
    border: none;
    border-radius: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* margin-bottom: 67rem; */
    z-index: 1000;
    width: 100%;
}