// @import url("https://fonts.googleapis.com/css2?family=Gantari:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('~@fontsource/roboto/300.css');
@import url('~@fontsource/roboto/400.css');
@import url('~@fontsource/roboto/500.css');
@import url('~@fontsource/roboto/700.css');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
// Your SCSS styles here


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: "Archivo", sans-serif;
  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Raleway', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.Charts {

  height: 100%;
  margin-top: 2rem;

}

.Charts1 {
  height: 90%;
  height: 100%;
  margin-top: 2rem;
  width: 65%;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
span,
ul {
  margin: 0;
}

body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;


  #root,
  .App {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    // @media screen and (max-width: 767px) {
    //   padding: 0 1rem;
    // }
    height: 100%;
  }
}

button {

  float: right;
  padding: 7px 35px;
  /* border-radius: 15px; */
  /* display: inline-block; */
  background-color: #062d1f;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  transition: all 300ms ease;

}


@media screen and (min-width: 100px) {

  /* font at xs */
  html {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 768px) {

  /* font at sm */
  html {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 991px) {

  /* font at md */
  html {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 1200px) {

  /* font at lg */
  html {
    font-size: 16px !important;
  }
}